# Build and Release Folders
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Debug
/ane/win-visualstudio/OculusANE/Release
/ane/win-visualstudio/OculusANE.opensdf
/ane/win-visualstudio/OculusANE.sdf
/ane/win-visualstudio/Release/OculusANE.pdb
/ane/native/win-visualstudio/OculusANE/Release
/ane/native/win-visualstudio/*.sdf
/ane/native/bin/OculusANE.lib
/ane/native/bin/OculusANE.pdb
/ane/native/bin/OculusANE.exp
/ane/native/win-visualstudio/OculusANE.v12.suo
/ane/native/win-visualstudio/OculusANE.sdf
/ane/native/win-visualstudio/*.opensdf
/demos/flare3d_oculus/obj
/demos/flare3d_oculus/dist
